@import url(/css/styles-principal.css);

.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background: #4F1905;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #C18A14;
    text-align: center;
}

/* Centralizar os cards */
.professores-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Estilizar os cards */
.professor-card {
    background: #E7D8CF;
    padding: 15px;
    border-radius: 8px;
    width: 250px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    text-align: center; /* Centralizar texto */
}

.professor-card:hover {
    transform: scale(1.05);
}

/* Ajuste da imagem */
.professor-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

/* Ajuste dos textos */
.professor-card h3 {
    color: #C18A14;
    margin-top: 10px;
}

.professor-card p {
    font-size: 14px;
    color: #4F1905; /* Cor ajustada para melhorar a legibilidade */
}
