@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Mate+SC&display=swap');

@import url(/css/carrossel.css);

:root {
    --fonte_curva: 'Lugrasimo';
    --fonte_reta: 'Mate SC';

    /* CORES */
    --vinho: #22080D;
    --marrom: #4F1905;
    --dourado: #C18A14;
    --amarelo_escuro: #BF6A02;
    --laranja: #B5390B;
    --bege: #BFA362;
    --cinza: #bdbcaf;
    --branco: #E7D8CF;

    /* DEGRADÊS */
    --background_site: linear-gradient(180deg, rgba(193, 138, 20, 1) 0%, rgba(79, 25, 5, 1) 100%);
    --vinho-marrom: linear-gradient(90deg, rgba(34, 8, 13, 1) 0%, rgba(79, 25, 5, 1) 100%);
    --vinho-laranja: linear-gradient(90deg, rgba(34, 8, 13, 1) 0%, rgba(181, 57, 11, 1) 100%);
    --marrom-laranja: linear-gradient(90deg, rgba(79, 25, 5, 1) 0%, rgba(181, 57, 11, 1) 50%);

    --branco-dourado: linear-gradient(180deg, rgba(231, 216, 207, 1) 0%, rgba(193, 138, 20, 1) 100%);
    --collapsible-div: linear-gradient(90deg, rgba(191, 106, 2, 1) 0%, rgba(231, 216, 207, 1) 100%);

    /* DEGRADÊS BOTÕES/TEXTO */
    --laranja-marrom: linear-gradient(90deg, rgba(181, 57, 11, 1) 0%, rgba(79, 25, 5, 1) 100%);

    --dourado-branco: linear-gradient(90deg, rgba(193, 138, 20, 1) 0%, rgba(231, 216, 207, 1) 100%);
    --botao_dourado: linear-gradient(90deg, rgba(193, 138, 20, 1) 0%, rgba(191, 163, 98, 1) 50%, rgba(193, 138, 20, 1) 100%);

    /* DEGRADÊS NAV BAR */
    --botao_nav: linear-gradient(180deg, rgba(34, 8, 13, 1) 0%, rgba(181, 57, 11, 1) 100%);
    --botao_nav-ativo: linear-gradient(180deg, rgba(191, 106, 2, 1) 0%, rgba(231, 216, 207, 1) 100%);
    --botao_nav-hover-menu: linear-gradient(180deg, , rgba(231, 216, 207, 1) 0%, rgba(191, 106, 2, 1) 100%);
    --botao_nav-hover-option: linear-gradient(90deg, rgba(181, 57, 11, 1) 0%, rgba(191, 106, 2, 1) 100%);
}

/* CSS GERAL */
html {
    font-size: 62, 5%;
}

body {
    font-family: 'Mate SC', sans-serif;
    /* margin: auto; */
    background-image: var(--background_site);
}

/* HEADER */
header {
    background-color: var(--vinho);
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__name {
    font-family: 'Lugrasimo', serif;
    font-size: 3rem;
    background: var(--dourado-branco);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* NAVBAR */
.navbar__item {
    display: inline-block;
}

.navbar__item a {
    font-size: 1.2rem;
    color: var(--bege);
    text-decoration: none;
    background-image: var(--botao_nav);
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 60px;
}

.navbar__item a:hover {
    background-image: var(--botao_nav-ativo);
    color: var(--vinho);
}

/* NAVBAR (MENU RESPONSIVO) */

.home-button {
    display: none;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}

.hamburger-line {
    width: 30px;
    height: 4px;
    background-color: var(--bege);
    margin: 4px 0;
}

/* HERO BANNER */
.herobanner {
    background-color: var(--marrom);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.herobanner__content {
    text-align: center;
    margin: 0 30px;
}

.herobanner__img {
    height: auto;
    width: 30%;
}

.herobanner__title {
    font-family: var(--fonte_curva), sans-serif;
    color: var(--dourado);
    font-size: 3.2rem;
    margin-bottom: 10px;
}

.herobanner__text {
    font-size: 1.7rem;
    margin: 20px 50px 50px 0;
    line-height: 35px;
}

.herobanner__btn {
    padding: 15px 35px;
    border-radius: 60px;
    text-decoration: none;
    color: var(--marrom);
    font-size: 2.2rem;
    letter-spacing: 1px;
    background-image: var(--botao_dourado);
}

/* SOBRE NÓS */
.about {
    background-image: var(--branco-dourado);
    display: flex;
    margin: 50px 0;
    justify-content: space-around;
}

.about__info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}

.about__title {
    font-family: var(--fonte_curva);
    font-size: 3rem;
    padding: 10px 50px;
    border-bottom: 3px solid var(--marrom);
    background: var(--laranja-marrom);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.about__text {
    font-size: 1.5rem;
    color: var(--marrom);
    margin: 30px 10px;
    line-height: 35px;
}

.about__btn {
    background-image: var(--laranja-marrom);
    padding: 20px;
    font-size: 1.5rem;
    letter-spacing: 2px;
    border-radius: 60px;
    color: var(--branco);
    text-decoration: none;
}

.about__img {
    width: 40%;
    height: auto;
    transform: scale(1.05);
}

/* NOSSOS CURSOS */

.nossoscursos {
    margin-bottom: 50px;
}

.nossoscursos__banner {
    background-image: var(--vinho-marrom);
    text-align: center;
    color: var(--bege);
    height: 300px;
}

.nossoscursos__title {
    font-family: var(--fonte_curva), sans-serif;
    font-size: 3rem;
    background: var(--dourado-branco);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    display: inline-block;
    padding: 40px 30px 10px;
    border-bottom: 3px solid var(--dourado);
}

.nossoscursos__text {
    font-size: 1.7rem;
    margin: 30px 50px;
    line-height: 35px;
}

.nossoscursos__btn {
    text-decoration: none;
    color: var(--marrom);
    background-image: var(--botao_dourado);
    font-size: 2rem;
    padding: 20px 50px;
    border-radius: 60px;
    display: block;
    max-width: fit-content;
    margin: auto;
    margin-bottom: 30px;
}

/* PROFESSORES */
.nossosprofs {
    background-image: var(--branco-dourado);
    display: flex;
    text-align: center;
    margin: 70px 0 50px;
}

.nossosprofs__info {
    display: flex;
    flex-direction: column;
    margin: 0 25px;
}

.nossosprofs__title {
    font-family: var(--fonte_curva);
    background: var(--laranja-marrom);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 3rem;
    margin-top: 100px;

    display: inline-block;
    margin: auto;
    padding: 50px 30px 20px;
    border-bottom: 3px solid var(--laranja);
}

.nossosprofs__text {
    color: var(--marrom);
    font-size: 1.5rem;
    margin: 40px 40px;
    line-height: 35px;
}

.nossosprofs__btn {
    color: var(--branco);
    background-image: var(--laranja-marrom);
    text-decoration: none;
    padding: 20px 50px;
    border-radius: 60px;
    font-size: 1.5rem;
    margin-top: 50px;
    text-align: center;
    max-width: fit-content;
    margin: auto;
}

.nossosprofs__img {
        width: 40%;
        height: auto;
        transform: scale(1.05);
}

/* Conecte */
.conecte {
    background-image: var(--vinho-laranja);
    text-align: center;
}

.conecte__title {
    background: var(--dourado-branco);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: var(--fonte_curva);
    font-size: 3rem;
    padding: 30px 40px 10px;
    border-bottom: 3px solid var(--dourado);
    display: inline-block;
}

.conecte__text {
    color: var(--bege);
    font-size: 1.5rem;
    margin: 30px 70px;
    line-height: 35px;
}

.conecte__links {
    display: flex;
    justify-content: space-evenly;
    margin: 0 100px;
}

.conecte__btn {
    text-decoration: none;
    color: var(--marrom);
    background-image: var(--botao_dourado);
    font-size: 1.5rem;
    padding: 15px 50px;
    border-radius: 60px;
}

.msgfinal {
    background-image: var(--branco-dourado);
    display: flex;
    align-items: center;
    margin: 50px 0;
}

.msgfinal__text {
    color: var(--vinho);
    font-size: 1.5rem;
    margin: 0 30px;
    text-align: center;
    line-height: 35px;
}

.msgfinal__img {
width: 40%;
height: auto;
}

/* FOOTER */
footer {
    background-color: var(--vinho);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    font-size: 1rem;
    padding: 0 20px;
}

.footer__left {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

.footer__right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
}

.footer__links {
    text-decoration: none;
    color: var(--dourado);
    margin-bottom: 0.5rem;
}

.footer__logo {
    font-family: var(--fonte_curva);
    font-size: 1.8rem;
    background: var(--dourado-branco);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: var(--fonte_curva);
    text-align: left;
}

.footer__logo--text {
    margin-right: 68px;
}

.contato {
    margin: 10px 0;
}

.footer__copyright--responsivo {
    display: none;
}

/* RESPONSIVIDADE */

@media only screen and (max-width: 950px) {
    /* NAVBAR */
    .navbar__responsivo {
        display: flex;
        align-items: center;
        gap: 30px;
    }
    
    .home-button {
        display: flex;
    }
    
    .hamburger {
        display: flex;
    }

    .navbar__list {
        display: none;
        flex-direction: column;
        width: 30%;
        background-color: var(--bege);
        position: absolute;
        top: 70px;
        right: 0;
        padding: 10px 0;
    }

    .navbar__list.active {
        display: flex;
    }

    .navbar__item:first-child {
        display: none;
    }

    .navbar__item {
        margin: 10px 0;
        text-align: center;
    }

    .navbar__item a {
        color: var(--marrom);
        background-image: none;
        font-size: 1.2rem;
    }

    /* MAIN */

    .herobanner__text {
        font-size: 1.4rem;
    }

    .about {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding-bottom: 30px;
    }

    .about__info {
        max-width: 100%;
        padding: 0 30px;
    }

    .about__img {
        transform: scale(1);
        width: 50%;
        height: auto;
        padding: 10px 0;
    }

    .nossosprofs {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
    }

    .nossosprofs__img {
        transform: scale(1);
        width: 50%;
        height: auto;
        padding-top: 10px;
    }

    .conecte {
        padding-bottom: 30px;
    }

    .msgfinal__text {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 800px) {
    
    .herobanner, .about, .nossoscursos, .nossosprofs, .conecte, .msgfinal {
        margin: 30px 0;
    }
    
    .herobanner__img {
        display: none;
    }

    .herobanner {
        padding: 45px 0;
        margin: auto;
    }

    .herobanner__text {
        margin:  35px 10px;
    }

    .herobanner__btn {
        font-size: 1.5rem;
    }

    .nossoscursos__banner {
        padding-bottom: 10px;
        height: max-content;
    }

    .nossoscursos__title {
        font-size: 2.4rem;
    }

    .msgfinal__img {
        width: 50%;
        height: auto;
    }

    .msgfinal__text {
        font-size: 1.2rem;
        margin: 5px 15px 5px 5px;
    }
    
}

@media only screen and (max-width: 750px) {
    
    .carrossel__card--title {
        font-size: 2rem;
    }

    .nossoscursos__btn {
        font-size: 1.7rem;
    }

    .nossosprofs__title {
        font-size: 2.2rem;
    }

    .conecte__btn {
        padding: 15px 20px;
        justify-content: space-between;
    }

    .conecte__links {
        gap: 30px;
    }

    .msgfinal__img {
        width: 40%;
        height: auto;
        margin-top: 70px;
    }

    .msgfinal__text {
        margin: 10px 10px 0;
        font-size: 1.1rem;
    }

    .footer__left {
        display: none;
    }

    .footer__right {
        align-items: center;
        margin: auto;
    }

    .footer__logo {
        text-align: center;
    }

    .footer__logo--text {
        margin: 0;
    }
}

@media only screen and (max-width: 650px) {
    .nossoscursos__title, .conecte__title {
        font-size: 2rem;
    }

    .conecte__btn {
        font-size: 1.45rem;
    }

    .msgfinal__img {
        width: 50%;
        height: auto;
        margin-bottom: -2px;
    }

    .msgfinal__text {
        font-size: 1.1rem;
    }

    .footer__copyright {
        font-size: .85rem;
    }
}

@media only screen and (max-width: 600px) {
    
    .nossoscursos__title {
        font-size: 1.7rem;
    }

    .nossoscursos__text {
        font-size: 1.4rem;
    }

    .carrossel__card--title {
        font-size: 1.9rem;
    }

    .conecte__btn {
        font-size: 1.2rem;
    }

    .msgfinal__img {
        display: none;
    }

    .msgfinal__text {
        padding: 10px;
    }
}

@media only screen and (max-width: 500px) {
    .about__title, .nossoscursos__title, .nossosprofs__title, .conecte__title {
        border-bottom: none;
    }

    .about__text {
        margin: 10px;
    }

    .nossoscursos__title {
        font-size: 2.1rem;
    }

    .nossoscursos__text, .nossosprofs__text {
        margin: 20px;
    }

    .carrossel__card--title {
        font-size: 1.4rem;
    }

    .nossoscursos__btn {
        font-size: 1.2rem;
    }

    .nossosprofs__title {
        font-size: 2.5rem;
        padding: 30px 30px 0;
    }

    .conecte__title {
        font-size: 2rem;
    }

    .footer__copyright {
        font-size: .7rem;
    }

    .navbar__list {
        padding: 20px;
    }

    .navbar__item a{
        font-size: 1.0rem;
    }
}

@media only screen and (max-width: 500px) {
    .home-button img {
        width: 30px;
        height: 30px;
    }

    .navbar__responsivo {
        gap: 20px;
    }
    
    .herobanner__title {
        font-size: 2.3rem;
        margin: 0;
    }

    .herobanner__btn {
        font-size: 1.2rem;
        margin: 10px;
        padding: 10px 30px;
    }

    .about__img, .nossosprofs__img {
        width: 70%;
        height: auto;
    }

    .about__title {
        font-size: 2.8rem;
    }

    .about__text, .nossoscursos__text .nossosprofs__text, .conecte__text, .msgfinal__text {
        line-height: 25px;
        margin: 15px;
    }

    .about__title, .nossoscursos__title, .nossosprofs__title, .conecte__title {
        font-size: 2.3rem;
        padding: 0;
        margin: 20px;
    }

    .herobanner__text {
        line-height: 25px;
        margin: 25px 0;
    }
    
    .about__text {
        font-size: 1.2rem;
        margin: 0 0 15px;
    }

    .about__btn {
        font-size: 1rem;
    }

    .nossosprofs__text {
        line-height: 25px;
    }

    .nossosprofs__btn {
        font-size: 1.1rem;
    }

    .nossosprofs__text {
        font-size: 1.1rem;
        margin: 10px 0 15px;
    }

    .conecte__text {
        font-size: 1.1rem;
    }

    .conecte__links {
        margin: 0 50px;
    }

    .conecte__btn {
        font-size: 1rem;
    }

    .carrossel__card--title {
        letter-spacing: 1;
        font-size: 1rem;
    }

    .nossoscursos__btn {
        font-size: .9rem;
    }

    .footer__copyright {
        display: none;
    }

    .footer__copyright--responsivo {
        display: flex;
    }
}