@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Mate+SC&display=swap');

:root {
    --fonte_curva: 'Lugrasimo';
    --fonte_reta: 'Mate SC';

    /* CORES */
    --vinho: #22080D;
    --marrom: #4F1905;
    --dourado: #C18A14;
    --amarelo_escuro: #BF6A02;
    --laranja: #B5390B;
    --bege: #BFA362;
    --cinza: #bdbcaf;
    --branco: #E7D8CF;

    /* DEGRADÊS */
    --background_site: linear-gradient(180deg, rgba(193, 138, 20, 1) 0%, rgba(79, 25, 5, 1) 100%);
    --vinho-marrom: linear-gradient(90deg, rgba(34, 8, 13, 1) 0%, rgba(79, 25, 5, 1) 100%);
    --vinho-laranja: linear-gradient(90deg, rgba(34, 8, 13, 1) 0%, rgba(181, 57, 11, 1) 100%);
    --marrom-laranja: linear-gradient(90deg, rgba(79, 25, 5, 1) 0%, rgba(181, 57, 11, 1) 50%);

    --branco-dourado: linear-gradient(180deg, rgba(231, 216, 207, 1) 0%, rgba(193, 138, 20, 1) 100%);
    --collapsible-div: linear-gradient(90deg, rgba(191, 106, 2, 1) 0%, rgba(231, 216, 207, 1) 100%);

    /* DEGRADÊS BOTÕES/TEXTO */
    --laranja-marrom: linear-gradient(90deg, rgba(181, 57, 11, 1) 0%, rgba(79, 25, 5, 1) 100%);

    --dourado-branco: linear-gradient(90deg, rgba(193, 138, 20, 1) 0%, rgba(231, 216, 207, 1) 100%);
    --botao_dourado: linear-gradient(90deg, rgba(193, 138, 20, 1) 0%, rgba(191, 163, 98, 1) 50%, rgba(193, 138, 20, 1) 100%);

    /* DEGRADÊS NAV BAR */
    --botao_nav: linear-gradient(180deg, rgba(34, 8, 13, 1) 0%, rgba(181, 57, 11, 1) 100%);
    --botao_nav-ativo: linear-gradient(180deg, rgba(191, 106, 2, 1) 0%, rgba(231, 216, 207, 1) 100%);
    --botao_nav-hover-menu: linear-gradient(180deg, , rgba(231, 216, 207, 1) 0%, rgba(191, 106, 2, 1) 100%);
    --botao_nav-hover-option: linear-gradient(90deg, rgba(181, 57, 11, 1) 0%, rgba(191, 106, 2, 1) 100%);
}

/* CSS GERAL */
html {
    font-size: 62, 5%;
}

body {
    font-family: 'Mate SC', sans-serif;
    /* margin: auto; */
    background-image: var(--background_site);
}

/* HEADER */
header {
    background-color: var(--vinho);
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__name {
    font-family: 'Lugrasimo', serif;
    font-size: 3rem;
    background: var(--dourado-branco);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* NAVBAR */
.navbar__item {
    display: inline-block;
}

.navbar__item a {
    font-size: 1.2rem;
    color: var(--bege);
    text-decoration: none;
    background-image: var(--botao_nav);
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 60px;
}

.navbar__item a:hover {
    background-image: var(--botao_nav-ativo);
    color: var(--vinho);
}

/* HERO BANNER */
.herobanner {
    background-color: var(--marrom);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 100px; */
}

.herobanner__content {
    text-align: center;
    margin: 0 30px;
}

.herobanner__img {
    width: auto;
    height: 10%;
}

.herobanner__title {
    font-family: var(--fonte_curva), sans-serif;
    color: var(--dourado);
    font-size: 3.2rem;
    margin-bottom: 10px;
}

.herobanner__text {
    font-size: 1.7rem;
    margin: 20px 50px 50px 0;
    line-height: 35px;
}

.herobanner__btn {
    padding: 15px 35px;
    border-radius: 60px;
    text-decoration: none;
    color: var(--marrom);
    font-size: 2.2rem;
    letter-spacing: 1px;
    background-image: var(--botao_dourado);
}

/* SOBRE NÓS */
.about {
    background-image: var(--branco-dourado);
    display: flex;
    margin: 50px 0;
    justify-content: space-around;
}

.about__info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}

.about__title {
    font-family: var(--fonte_curva);
    font-size: 3rem;
    padding: 10px 50px;
    border-bottom: 3px solid var(--marrom);
    background: var(--laranja-marrom);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.about__text {
    font-size: 1.5rem;
    color: var(--marrom);
    margin: 30px 10px;
    line-height: 35px;
}

.about__btn {
    background-image: var(--laranja-marrom);
    padding: 20px;
    font-size: 1.5rem;
    letter-spacing: 2px;
    border-radius: 60px;
    color: var(--branco);
    text-decoration: none;
}

.about__img {
    max-width: 40%;
    height: auto;
    transform: scale(1.05);
}

/* NOSSOS CURSOS */
.nossoscursos__banner {
    background-image: var(--vinho-marrom);
    text-align: center;
    color: var(--bege);
    height: 300px;
}

.nossoscursos__title {
    font-family: var(--fonte_curva), sans-serif;
    font-size: 3rem;
    background: var(--dourado-branco);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.nossoscursos__text {
    font-size: 1.7rem;
    margin: 50px 30px;
}

.nossoscursos__btn {
    text-align: center;
    text-decoration: none;
    color: var(--branco);
    background-image: var(--botao_dourado);
    font-size: 3rem;
    padding: 20px 50px;
    border-radius: 60px;
}

/* CARROSSEL */
.main__carrossel {
    display: flex;
    overflow-x: scroll;
}

.main__carrossel--img {
    width: 300px;
    height: auto;
}

/* PROFESSORES */
.nossosprofs {
    background-image: var(--branco-dourado);
    display: flex;
    align-content: space-around;
    text-align: center;
}

.nossosprofs__title {
    font-family: var(--fonte_curva);
    background: var(--laranja-marrom);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 3rem;
    margin-top: 100px;
}

.nossosprofs__text {
    color: var(--marrom);
    font-size: 1.5rem;
    margin: 40px 40px;
}

.nossosprofs__btn {
    color: var(--branco);
    background-image: var(--laranja-marrom);
    text-decoration: none;
    padding: 20px 50px;
    border-radius: 60px;
    font-size: 1.2rem;
}

.nossosprofs__img {
        max-width: 40%;
        height: auto;
        transform: scale(1.05);
}
/* Conecte */
.conecte {
    background-image: var(--vinho-laranja);
    text-align: center;
    height: 300px;
}

.conecte__title {
    background: var(--dourado-branco);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: var(--fonte_curva);
    font-size: 3rem;
    padding-top: 50px;
}

.conecte__text {
    color: var(--bege);
    font-size: 1.5rem;
    margin: 30px 50px 50px;
}

.conecte__btn {
    text-decoration: none;
    color: var(--marrom);
    background-image: var(--botao_dourado);
    font-size: 1.5rem;
    padding: 15px 50px;
    border-radius: 60px;
}

.msgfinal {
    background-image: var(--branco-dourado);
    display: flex;
    align-items: center;
}

.msgfinal__text {
    color: var(--vinho);
    font-size: 1.5rem;
    margin: 0 30px;
    text-align: center;
}

.msgfinal__img {
max-width: 40%;
height: auto;
}

/* FOOTER */
footer {
    background-color: var(--vinho);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    font-size: 1rem;
    padding: 0 20px;
}

.footer__left {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

.footer__right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
}

.footer__links {
    text-decoration: none;
    color: var(--dourado);
    margin-bottom: 0.5rem;
}

.footer__logo {
    font-family: var(--fonte_curva);
    font-size: 1.8rem;
    background: var(--dourado-branco);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: var(--fonte_curva);
    text-align: left;
}

.footer__logo--text {
    margin-right: 68px;
}

.contato {
    margin: 10px 0;
}