@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Mate+SC&display=swap');

:root {
    --fonte_curva: 'Lugrasimo';
    --fonte_reta: 'Mate SC';

    /* CORES */
    --vinho: #22080D;
    --marrom: #4F1905;
    --dourado: #C18A14;
    --amarelo_escuro: #BF6A02;
    --laranja: #B5390B;
    --bege: #BFA362;
    --cinza: #bdbcaf;
    --branco: #E7D8CF;

    /* DEGRADÊS */
    --background_site: linear-gradient(180deg, rgba(193,138,20,1) 0%, rgba(79,25,5,1) 50%);
    --vinho-marrom: linear-gradient(90deg, rgba(34,8,13,1) 0%, rgba(79,25,5,1) 100%);
    --vinho-laranja: linear-gradient(90deg, rgba(34,8,13,1) 0%, rgba(181,57,11,1) 100%);
    --marrom-laranja: linear-gradient(90deg, rgba(79,25,5,1) 0%, rgba(181,57,11,1) 50%);

    --branco-dourado: linear-gradient(180deg, rgba(231,216,207,1) 0%, rgba(193,138,20,1) 100%);
    --collapsible-div: linear-gradient(90deg, rgba(191,106,2,1) 0%, rgba(231,216,207,1) 100%);

    /* DEGRADÊS BOTÕES/TEXTO */
    --laranja-marrom: linear-gradient(90deg, rgba(181,57,11,1) 0%, rgba(79,25,5,1) 100%);

    --dourado-branco: linear-gradient(90deg, rgba(193,138,20,1) 0%, rgba(231,216,207,1) 100%);
    --botao_dourado: linear-gradient(90deg, rgba(193,138,20,1) 0%, rgba(191,163,98,1) 50%, rgba(193,138,20,1) 100%);

    /* DEGRADÊS NAV BAR */
    --botao_nav: linear-gradient(180deg, rgba(34,8,13,1) 0%, rgba(181,57,11,1) 100%);
    --botao_nav-ativo: linear-gradient(180deg, rgba(191,106,2,1) 0%, rgba(231,216,207,1) 100%);
    --botao_nav-hover-menu: linear-gradient(180deg, , rgba(231,216,207,1) 0%, rgba(191,106,2,1) 100%);
    --botao_nav-hover-option: linear-gradient(90deg, rgba(181,57,11,1) 0%, rgba(191,106,2,1) 100%);
}

body {
    font-family: 'Mate SC', sans-serif;
    margin: auto;
}

header {
    background-color: var(--vinho);
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.header__name {
    font-family: 'Lugrasimo', serif;
}

.nav__bar--item {
    display: inline-block;
}

.nav__bar--item a {
    color: white;
    text-decoration: none;
}

.banner {
    background-color: var(--marrom);
    color: white;
    display: flex;
}

.banner__content {
    align-content: center;
}

.banner__img {
    width: 50%;
    height: auto;
}

.banner__title {
    font-family: 'Lugrasimo', sans-serif;
}

.banner__btn {
    text-decoration: none;
    color: var(--vinho);
    background-color: var(--dourado);
}

.main__carrossel {
    display: flex;
    overflow-x: scroll;
}

.main__carrossel--img {
    width: 300px;
    height: auto;
}

footer {
    background-color: var(--vinho);
    color: white;
}